.lang-button {
  background-color: navy;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.lang-button:hover {
  background-color: darkblue;
}
